*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:monospace;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

