* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Great Vibes', cursive;
    background-image: url("./assets/image.jpg");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.container {
    padding: 40px;
    color: rgb(76, 6, 6);
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 6rem;
    color: rgb(76, 6, 6); 
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

#countdown {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.countdown-days, .countdown-minutes, .countdown-hours, .countdown-seconds {
    height: 120px;
    width: 120px;
    padding: 15px;
    border: 4px solid rgb(93, 7, 7);
    border-radius: 12px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#countdown p {
    margin: 10px 0;
    font-size: 2.2rem;
    color: rgb(93, 7, 7);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#countdown span {
    font-size: 3rem;
    color: rgb(123, 5, 5);
    font-weight: bold;
}
