/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #676f9d;
    padding: 5px 10px;
}

/* Title styling */
h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
}

/* Dropdown container */
.dropdown {
    position: relative;
}

/* Button styling */
.dropdown-button {
    background-color: #676f9d;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
}

/* Dropdown content styling to span full width below navbar */
.dropdown-content {
    display: none;  /* Initially hidden */
    position: absolute;
    top: 100%;  /* Position below the navbar */
    left: 0;
    width: 100vw;  /* Full viewport width */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Link styling */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;  /* Align text to the left */
}

/* Link hover effect */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
