h1 {
    color: #004080; 
    margin-bottom: 50px;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 50%; 
    border-bottom: 4px solid #0077cc; 
}

.container {
    max-width: 500px;
    width: 90%;
}

.review-window {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.picture img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0077ccaf; 
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px #065b98);
    
}

.description h4 {
    color: #004080;
    font-size: 1.75rem;
    margin-bottom: 5px;
}

.description p {
    color: #4a4a4a;
    font-size: 1rem;
    margin: 5px 0;
}

button {
    color: #004080;
    font-size: 1.25rem;
    background-color: #e6f2ff; 
    border: 2px solid #0077cc;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #005bb5;
    padding: 8px 16px;
    margin: 10px 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #0077cc; 
    color: #ffffff;
}

.surprise {
    background-color: #cce6ff; 
    border: 2px solid #005bb5aa; 
}

.surprise:hover {
    background-color: #005bb5; 
    color: #ffffff;
}
